@CHARSET "ISO-8859-1";

.barcharts {
/* border-style:solid;
border-color:green; */
}

.barchart {
/* border-style:solid;
border-color:red; */

}

.barchart_x_axis path,
.barchart_x_axis line,
.barchart_y_axis path,
.barchart_y_axis line  {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barchart_base_bar {
  fill: grey;
  fill-opacity:0.5;
  stroke:black;
  stroke-width: 1;
  stroke-opacity:1.0;
  shape-rendering: crispEdges;
}

.barchart_base_bar:hover {
  fill-opacity:0.9;
}


.barchart_x_axis path {
  display: none;
}

.barchart_tooltip {
  line-height: 1;
  font:  bold 12px sans-serif;
  font-color: white;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.barchart_title
{
	font-size: 15px;
	font-weight:bold;
}

/*Style settings for sub-bars*/
.barchart_sub_bar {
  stroke:#000000;
 /* stroke-width:1;*/
  shape-rendering: crispEdges; 
  fill-opacity: .9;
}

.barchart_sub_bar:hover {
  /* fill: orangered ; */
}


.barchart_base_source_bar
{
	fill:grey;
	stroke:white;
	stroke-width: 2;
	shape-rendering: crispEdges;
	fill-opacity:0.5;
}

.barchart_base_source_bar:hover {
  fill-opacity:0.9;
}

.barchart_sub_source_bar
{
	stroke:black;
	stroke-width: 1;
	shape-rendering: crispEdges;
	fill-opacity:1;
}

.startbar
{
	 fill: #b5cf6b; 
	/* fill:#DAE7B5; */
}

.startbar:hover
{
	 fill: #7F914B;
}

.prumorbar
{
	fill: #6b6ecf;
}

.prumorbar:hover
{
	fill: #4B4D91;
}

.pdebunkbar
{
	fill:#d6616b;
}

.pdebunkbar:hover
{
	fill:#96444B;
}

.pbothbar
{
	fill:#ce6dbd;
}

.pbothbar:hover
{
	fill:#904C84;
}


.arumorbar
{
	fill: #393b79;
}

.arumorbar:hover
{
	fill: #282955;
}
.adebunkbar
{
	fill:#843c39;
}
.adebunkbar:hover
{
	fill:#5C2A28;
}
.abothbar
{
	fill:#a55194;
}
.abothbar:hover
{
	fill:#733968;
}

