body,html {
	height: 100%;
}

/* div
{
	border: 1px solid red; 
}

table,td,tr
{
	border: 1px solid lime;
} */

#main {
	height: 100%;
	width: 100%;
	min-height: 820px;
	min-width: 1200px;

}

#main tr
{
	padding:0;
	height:100%;
}

#main-top{
	width:100%;
	min-height: 600px;
	min-width: 1200px;
	/* display:table-row; */
	vertical-align:center;
}
#main-top-left{
	vertical-align:middle;
	display: block; 
	position: relative;
	
}
#main-top-right{
	/* display:table-cell; */
	width: 300px;
	vertical-align:middle;
}

#main-bottom{
	height: 200px; 
	width:100%;
	display:table;
	
}

#central_diagram_div {
	min-height: 600px;
	min-width: 860px;
	font: 12px sans-serif;
	background-color: #fcfcfa;
	border: 1px solid black;
	/* position:absolute; 
	left:10px; 
	top:10px; */
/*  	margin-left: auto;
	margin-right: auto;  */
	
	
	
}

#informationPanel {
	/* height: 550px; */
	width: 280px;
	/* position:relative; */
	/* left: 870px; */
	font : 11px sans-serif;
	font-weight : bold;
	/* right:0; */
	float:right;
	display:inline-block;
}

#timebar_div {
	height: 200px;
	width: 1140px;
	background:white;
	margin-left:auto;
	margin-right:auto;
	/* position:absolute; */ 
	/* left:0px; 
	top:615px; */
	/* bottom:0px;' */
}

.qheader{
	font:bold 14px sans-serif;
	width: 800px;
}

.qselections{
	font:normal 13px sans-serif;
}

/*Position the mode selection radio button menu in the top right of its container*/
#sankey_mode_div{
	font: 10px sans-serif;
	vertical-align:top;
	background:rgba(255, 255, 255, 0.7);
	position:absolute; 
	right:10px; 
	top:10px;
/* 	margin-right:10px;
	float:right;
	margin-top:10px; */
	z-index: 999;
	padding-left:0px;
	
}

#sankey_button_box {
	outline:1px solid black;
	
}

#pointer_control {
	position:absolute;
	top: 180px;
	left: 940px;
}

#pc_label {
	position:absolute;
	top: 175px;
	left: 845px;
}

#timespan_delete_button_div {
	font: 10px sans-serif;
	position:absolute;
	top: 30px;
	left: 1075px;
}

#selected_delete_button_div {
	font: 10px sans-serif;
	position:absolute;
	top: 30px;
	left: 230px;
}


p {
	font                : 12px sans-serif;
    /* font-weight         : bold; */
}

p span{
	font                : 12px sans-serif;
    /* font-weight         : bold; */
}

.informationBox {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*width: 250px;*/
	width: 260px;
	
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 5px 10px;
}

.informationBox th {
	font-size: 15px;
	font-weight: normal;
	background: #4D4D4D;
	color: white;
	padding: 2px 0px 2px 8px;
	border: 1px solid black;
}

.informationBox td{
	background: white;
	color: #4D4D4D;
	border: 1px solid black;
	padding: 2px 8px 2px 8px;
	vertical-align: top;
}


#highlightOptionsBox {
	
}


#tweetAuthorInfoBox td{
	height: 160px;

}

#instructionBox td {
	height: 100px;
}

#tweetDisplayBox {
	border: 1px solid black;
	height: 465px; 
	overflow:visible;
}

#highlightOptions {
	
}

#highlightOptions td{
	border:none;
}

#tweet_display_content
{
	height:340px;
	overflow:auto;
}

.instructions
{
	height: 700px;
	width: 1000px;
	overflow:auto;
	background-color:white;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	padding:10px;
	
}

.instruction_header, .instruction_footer, #instructions_button_div,.instruction_pic
{
	text-align:center;
}