
.network_tooltip
{
	line-height: 1;
	font:  bold 12px sans-serif;
	font-color: white;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}
.network_diagram g
{
	fill:none;
}
.network_title
{
	font: bold 15px sans-serif;
	color: black;
	fill:black;
}

.network_node
{
	stroke:black;
	fill-opacity:0.9;
}

.network_marker{
	fill-opacity:0.6;
}

.network_node.rumor{
	 fill:#393b79; 
	/* fill:#198D8D */
	/* fill:blue; */
}

#network_marker_rumor{
	/* fill: #0C4646 */
	fill:#393b79; 
	
}

.network_node.rumor:hover,#network_marker_rumor:hover{
	fill:#282955;
	/* fill: #0C4646; */
	/* fill:blue; */
}

.network_node.rumor.highlighted,#network_marker_rumor_highlighted{
	fill:blue;
}

.network_node.debunk{
	/* fill:red; */
	fill: #843c39;
}

#network_marker_debunk{
	fill: #5C2A28;
}

.network_node.debunk:hover,#network_marker_debunk:hover{
	/* fill:red; */
	fill: #5C2A28;
}

.network_node.debunk.highlighted, #network_marker_debunk_highlighted{
	fill: red;
	z-index:1000;
}

.network_node.both, #network_marker_both{
	fill:#a55194;
}

.network_node.both.highlighted, #network_marker_both_highlighted{
	fill:magenta;
}

#network_marker_self
{
	fill:black;
}

.network_link
{
	stroke-width:1.5;
	stroke-opacity: 0.6;
}

.network_link.highlighted
{
	stroke-opacity:0.8;
}

.network_link.rumor{
	stroke:#393b79; 
	/* stroke:#198D8D; */
	/* stroke:#0C4646; */
	/* stroke:blue; */
	 /* stroke:#6b6ecf; */
}

.network_link.rumor.highlighted{
	stroke:blue;
	
}

.network_link.debunk{
	/* stroke: #d6616b; */
	/* stroke: #843c39; */	
	stroke:#5C2A28
	/* stroke:red; */
}

.network_link.debunk.highlighted{
	stroke: red;
}

.network_link.both{
	stroke:#a55194;
}

.network_link.both.highlighted{
	stroke:magenta;
}

.network_link.self{
	/* stroke:black; */
	stroke-dasharray: 3,3;
	
}

.network_marker{
	stroke:none;
	fill-opacity: 0.8;
}


#network_marker_faded{
	stroke:none;
	fill:grey;
	fill-opacity:0.5;
}



.network_node.faded{
	fill:grey;
	stroke:none;
	fill-opacity:.3;
}

.network_link.faded{
	stroke:grey;
	stroke-opacity:0.3;
}

.network_loading_message rect
{
	fill:white;
	stroke:black;
}
