
.diagram {
  background: #fcfcfa;
  color: #333;
  font : 11px sans-serif;
/*   border-style:solid;
  border-color: red; */
} 

.sankey.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width:1;
}

.sankey.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width:1;
}
 

.sankey.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.sankey.link {
  fill: grey;
  stroke: #000;
  fill-opacity: .5;
  
}

.sankey.link.empty {
	stroke-dasharray: 5,10;
}

.sankey.link:hover {
  fill-opacity: .9;
  stroke-opacity:.3;
}

.sankey.overlay_link {
  fill: black;
  fill-opacity: .7;
  stroke-opacity: 0;
}

.sankey.overlay_link:hover {
  fill-opacity: .9;
}

.sankey.selected_link
{
	fill-opacity:1.0;
	stroke-opacity:0;
}
.sankey.selected_link.rumor
{
	fill:blue;
}
.sankey.selected_link.debunk
{
	fill:red;
}

.sankey.active.region {
	fill:grey;
	fill-opacity:0.15;
}

.sankey.passive.region {
	fill:none;
	fill-opacity:0.1;
}

.sankey.axis line, .sankey.axis path{
  fill: none;
  stroke:black;
}

.sankey.divider{
	stroke:black;
	stroke-width:3;
	stroke-dasharray:10,10;
	shape-rendering:crispEdges;
}

/* Control appearance of individual state rectangles  */

.sankey.node.start rect
{
	fill:#b5cf6b
}
.sankey.node.start rect:hover
{
	fill:#7F914B
}

.sankey.node.rumor.passive rect
{
	fill:#6b6ecf
}
.sankey.node.rumor.passive rect:hover
{
	fill:#4B4D91
}

.sankey.node.debunk.passive rect
{
	fill:#d6616b
}

.sankey.node.debunk.passive rect:hover
{
	fill:#96444B
}

.sankey.node.both.passive rect
{
	fill:#ce6dbd
}

.sankey.node.both.passive rect:hover
{
	fill:#904C84
}

.sankey.node.rumor.active rect
{
	fill:#393b79
}

.sankey.node.rumor.active rect:hover
{
	fill:#282955
}

.sankey.node.debunk.active rect
{
	fill:#843c39
}
.sankey.node.debunk.active rect:hover
{
	fill:#5C2A28
}


.sankey.node.both.active rect
{
	fill:#a55194
}

.sankey.node.both.active rect:hover
{
	fill:#733968
}


.sankey.tooltip
{
	  line-height: 1;
  font:  bold 12px sans-serif;
  font-color: white;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.sankey.title
{
	font: bold 15px sans-serif;
}

