.timebar {
	shape-rendering: crispEdges;
}
.main_bar,.main,.feedback_area,.mag_bar {
	font: 12px sans-serif;	
}
.brush_label  {
	font: 12px sans-serif;
	font-weight:bold;
}


 .mag_x_time_axis line ,.mag_x_cursor_axis line, .main_x_time_axis line, .main_x_cursor_axis  line{
	stroke: black;
} 

 .mag_x_time_axis path ,.mag_x_cursor_axis path, .main_x_time_axis path, .main_x_cursor_axis  path{
	stroke: black;
} 

.main_bar_item {
	stroke-width: 1;
	
}

.mag_bar_item {
	stroke-width: 1;	
}

.main_bar_item.debunk, .mag_bar_item.debunk {
	stroke: #ad494a;
}

.main_bar_item.rumor, .mag_bar_item.rumor {
	stroke: #5254a3;	
}

.overlap{
	stroke: #ce6dbd;
}

.main_brush,.mag_brush {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;

	
}

.rarea
{
	fill:#6b6ecf;
	fill-opacity:.4;
}

.carea
{
	fill:#d6616b;
	fill-opacity:.4;
}

.rumor_highlight
{
	stroke:blue;
	stroke-width:3;

}

.debunk_highlight
{
	stroke:red;
	stroke-width:3;

}