@CHARSET "ISO-8859-1";

 .userlist
{
/* 	border-style: solid;
	border-color: orange; 
	border-width: 1px; */
	height:100%;
	margin-bottom:0;
	
} 

.userlist_outer_div
{
	border-style: solid;
	border-color: black; 
	border-width: 1px;
	overflow: auto;
	margin-right:7px;
	margin-left:10px;
	margin-top:35px;
	display:block;
	/* width:100%; */
	
	
} 

.userlist_outer_table 
{
	/* border-style:solid; */
/* 	border-style: solid;
	border-color: black; 
	border-width: 1px; */
	font: 10px sans-serif;
}

.userlist_row
{
	line-height:25px;
	
}

/*Certain columns need to be wider than average*/
.userlist_column.author
{
	width:125px;
}
.userlist_column.tweet_date
{
	width:100px;
}

.userlist_column.follower_tweets,.userlist_column.followed_tweets
{
	width:200px;
}

.userlist_column.Rumor 
{
	/* background-color:#6B6ECF; */
	background-color:#393b79;
	color: white;

	
}

.userlist_column.Correction 
{
	/* background-color:#D6616B; */
	background-color:#843c39;
	color:white;

}

.userlist_row.selected
{
	color:white;
}
.userlist_row.selected:hover
{
	
}
.userlist_row.selected.rumor
{
	background-color: blue;
}

.userlist_row.selected.debunk
{
	background-color: red;
}

.userlist_title
{
	font: bold 15px sans-serif;
}




.userlist_table td {
	/* white-space: nowrap; */
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	text-align:center;

}


.userlist_table
{
	font: 13px sans-serif;
	table-layout:fixed;
}


.userlist_table tr:hover {
	background-color:grey;

}

.userlist_header_table, .userlist_footer_table
{
	table-layout:fixed;
	text-align: center;
}
.userlist_header_table th:hover{
	background-color:grey;

}

.userlist_header_table th,.userlist_footer_table td
{
	background-color:lightgrey;
	font:bold 13px sans-serif;
	height:35px;
/* 	border-style:solid;
	border-color:white; */
}



.userlist_scroll {
	overflow: auto;
	text-align:center;
	vertical-align:middle;
	border-style: solid;
	border-color: black; 
	border-width: 1px;
/* 	border-width:1px;
	border-color:red;
	border-style:solid; */
}